.background {
    background-color: #2C83D6;
}

html, body, form, fieldset, table, tr, td, img, input[type=text], input[type=password] {
    font-family: 'PT Sans';
}

body {
    overflow-y: scroll;
}

@font-face {
    font-family: 'PT Sans';
    src: url("../Fonts/PTSans-Regular.ttf");
}

@font-face {
    font-family: 'PT Sans Bold';
    src: url("../Fonts/PTSans-Bold.ttf");
}

@font-face {
    font-family: 'PT Sans Bold Italic';
    src: url("../Fonts/PTSans-BoldItalic.ttf");
}

@font-face {
    font-family: 'PT Sans Italic';
    src: url("../Fonts/PTSans-Italic.ttf");
}

@font-face {
    font-family: 'PT Serif';
    src: url("../Fonts/PTSerif-Regular.ttf");
}

@font-face {
    font-family: 'PT Serif Bold';
    src: url("../Fonts/PTSerif-Bold.ttf");
}

@font-face {
    font-family: 'PT Serif Bold Italic';
    src: url("../Fonts/PTSerif-BoldItalic.ttf");
}

@font-face {
    font-family: 'PT Serif Italic';
    src: url("../Fonts/PTSerif-Italic.ttf");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #2C83D6 inset !important;
    -webkit-text-fill-color: #f7f7f7 !important;
}

.container, .forgot_password_container {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
    border: 3px solid #f7f7f7;
    width: 400px;
    height: 420px;
    border-radius: 30px;
    color: #f7f7f7;
}

.reg_container {
    position: relative;
    margin: 0 auto;
    margin-top: 170px;
    border: 3px solid #f7f7f7;
    width: 400px;
    height: 540px;
    border-radius: 30px;
    color: #f7f7f7;
}

a {
    color: #badaff;
}

.logo {
    padding: 30px;
}

.logo img {
    width: 50px;
    position: absolute;
}

.logo div {
    padding-top: 15px;
    padding-left: 60px;
}

.title {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

.big {
    font-size: 24px;
}

.small {
    font-size: 14px;
}

.margintop {
    margin-top: 10px;
}

.login_textbox {
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #f7f7f7;
    color: #f7f7f7;
    font-size: 18px;
}

.center {
    margin: 0 auto;
    display: table;
    position: relative;
}

.center_text {
    text-align: center;
}

.content_text {
    width: 590px;
    float: left;
    text-align: justify;
    font-family: 'PT Serif';
    line-height: 24px;
    margin-bottom: 10px;
}

.content_text span {
    cursor: pointer;
}

.ex_status {
    position: relative;
    float: left;
    text-align: right;
    padding-left: 10px;
    vertical-align: text-bottom;
    right: 5px;
    display:none;
}

.button_status {
    border: 0;
    outline: 0;
    padding: 0;
    background-color: white;
    cursor: pointer;
    font-size: 19px;
}

.content_margins {
    margin-top: 50px;
    margin-bottom: 50px;
}

#Description_MouseOver {
    display: none;
    position: absolute;
    padding: 0px 2px;
    font-size: 12px;
}

.right {
    position: absolute;
    right: 100px;
}

.pager {
    margin: 30px auto 0 auto;
    display: table;
    color: white;
}

.pager a {
    width: 30px;
    text-align: center;
    display: inline;
    color: white;
    background-color: #2C83D6;
    border: 1px solid #2C83D6;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.Parrow {
    background-color: white !important;
    border: 1px solid white !important;
    color: #2C83D6 !important;
    cursor: pointer;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 3px;
}

.fiarrow {
    background-size: 16px;
    background-image: url('../Files/Images/Arrows/Ltwo.png');
}

.fiarrow:hover {
    background-size: 16px;
    background-image: url('../Files/Images/Arrows/LtwoH.png');
}

.barrow {
    background-size: 9px;
    background-image: url('../Files/Images/Arrows/Lone.png');
}

.barrow:hover {
    background-size: 9px;
    background-image: url('../Files/Images/Arrows/LoneH.png');
}

.frarrow {
    background-size: 9px;
    background-image: url('../Files/Images/Arrows/Rone.png');
}

.frarrow:hover {
    background-size: 9px;
    background-image: url('../Files/Images/Arrows/RoneH.png');
}

.larrow {
    background-size: 16px;
    background-image: url('../Files/Images/Arrows/Rtwo.png');
}

.larrow:hover {
    background-size: 16px;
    background-image: url('../Files/Images/Arrows/RtwoH.png');
}

.pager .Parrow:hover {
    color: lightblue !important;
    background-color: white !important;
    /*border: 1px solid #2C83D6 !important;*/
}

.pager a:hover {
    background-color: lightblue !important;
    border: 1px solid #2C83D6;
    color: #2C83D6;
}

a.current_page {
    background-color: white !important;
    border: 1px solid #2C83D6 !important;
    color: #2C83D6 !important;
}

.buttons input[type=submit] {
    margin-top: 50px;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    outline: 0;
}

.border_button input[type=submit] {
    border: 2px solid #2C83D6;
    font-weight: bold;
    color: #2C83D6;
    width: 250px;
    height: 50px;
}

.error_circle {
    display: none;
    position: absolute;
    background-color: red;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    left: -30px;
    top: 10px;
}

::placeholder {
    color: #badaff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #badaff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #badaff;
}

.container_password {
    display: none;
}

.arrow {
    display: none;
    position: absolute;
    top: 115px;
    left: 110px;
    cursor: pointer;
}

.arrow img {
    width: 20px;
}

.main_menu {
    display: table;
    margin: 0 auto;
}

.main_menu .menu {
    width: 210px;
    text-align: center;
    float: left;
    background-color: #2C83D6;
    color: white;
    padding-top: 10px;
    height: 30px;
    text-transform: uppercase;
}

.main_menu .menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 100%;
}

.main_menu .menu:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.main_menu .menu:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main_content {
    display: table;
    margin: 0 auto;
    line-height: 150px;
    position: relative;
}

.main_content .logo {
    width: 100px;
}

.main_content .content {
    font-weight: bold;
}

.byprogrammers {
    position: absolute;
    top: 30px;
    left: 45px;
}

.bold {
    font-weight: bold;
}

.div_text {
    width: 490px;
    margin-top: 30px;
}

.message {
    position: fixed;
}

.notfinished_left {
    /*float: left;*/
    margin: 0 auto;
    width: 880px;
    /*width:100%;*/
}

.finished_right {
    display: none;
    float: right;
    /*width: 50%;*/
}

.line {
    margin-top: 30px;
}

.examples {
    margin-top: 10px;
    border-bottom: 1px solid grey;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 10px;
    background-color: #2C83D6;
    width: 175px;
    height: 100%;
}

.start_number {
    display: inline-block;
    color: black;
    float: left;
    padding-right: 5px;
    min-width: 38px;
    line-height: 24px;
}

.categories_right .bottom {
    font-size: 11px;
    color: grey;
    margin-top: 4px;
    height: 27px;
    bottom: 0;
    width: 150px;
    position: absolute;
}

.sidebar .c_sidebar {
    color: #fff;
    padding: 10px;
}

.custom_margins {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.zavrseno {
    color: green;
}

.u_tijeku {
    color: red;
}

#choose_data, #ddlProject {
    width: 155px;
    height: 30px;
    margin-top: 15px;
    border-radius: 10px;
    padding-left: 10px;
    border: 2px solid #2C83D6;
    outline: 0;
    margin-bottom: 25px;
    /*background-color: #2C83D6;
        color: white;*/
}

.categories {
    display: none;
    position: fixed;
    top: 330px;
    left: 0;
}

.categories_right {
    /*display: none;*/
    /*float: right;*/
    width: 130px;
    /*padding-left: 30px;*/
}

.category {
    width: 165px;
    margin: 10px;
    padding: 5px;
    outline: 0;
    font-size: 14px;
    text-align: center !important;
}

.categoryR {
    margin: 5px;
    outline: 0;
    font-size: 14px;
}

.finish {
    margin-top: 30px;
    width: 175px;
    height: 40px;
    cursor: pointer;
    outline: 0;
    margin: 10px;
}

.entity {
    background-color: #9dc1fa;
}

.current {
    /*background-color: #f7746f !important;*/
    border-bottom: 2px solid #0000FF !important;
}

.current_space {
    /*background-color: #f7746f !important;*/
    border-bottom: 2px solid #0000FF !important;
}

.info {
    margin-top: 50px;
    font-size: 14px;
}

#current_example {
    position:relative;
    display: none;
    margin-top: 35px;
}

#current_subcategory {
    display: none;
}

.help {
    background-color: lightcyan;
    color: #000;
    float: right;
    top: 10px;
    right: 10px;
    position: absolute;
    width: 15px;
    text-align: center;
    cursor: pointer;
    outline: 0;
}

.iamhelping {
    display: none;
    outline: 0;
    position: absolute;
    top: 0;
    left: 175px;
    background-color: #2C83D6;
    cursor: pointer;
    outline: 0;
    width: 310px;
    padding: 10px;
    font-size: 14px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.error_container, .error_fp_container {
    display: none;
    position: absolute;
    left: 430px;
    top: 155px;
    background-color: #db0e0b;
    padding: 20px;
    border-radius: 15px;
    width: fit-content; /* Chrome */
    width: -moz-max-content; /* Firefox */
}

.focus-visible {
    outline: 0;
}

.od_t {
    top: -13px;
}

.od_b {
    top: 13px;
}

.other_desc {
    position: absolute;
    display: none;
}

.radioz {
    display: block;
    width: 100%;
    cursor: pointer;
}

.radioz span {
    width: 10px;
    height: 10px;
    display: block;
    display: none;
    background-color: white;
    border-radius: 15px;
    border: 3px solid white;
}

.word{
    white-space:nowrap;
    overflow:hidden;
}

.desc_word {
    display: none;
    position: absolute;
    left: 155px;
    top: 10px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2C83D6;
}

.desc_word:hover{
    display:block;
}

.word:hover + .desc_word {
    display: block;
}